p.title {
            background-color: teal;
            border-radius: 1rem 0 1rem 0;
            color: white;
            font-size: 3rem;
            padding: 10px;
            text-align: center;
        }
        