@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    background-color: #FF8604;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ee7a05' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23de6e06' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23cd6208' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23bd5609' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AC4A0A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
nav.controls {
    position: fixed;
    a:is(:link, :visited){
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0009;
        height: 40px;
        transform: scale(0.8);
        opacity: 0.6;
        padding: 10px;
        width: 40px;
        transition: all 0.4s ease-in;
    }
    a:is(:hover){
        opacity: 1;
        transform: scale(1);
    }
    svg{
        width: 40px;
    }
}
main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    header{
        h1, h2 {
            color: #fff8;
            text-align: center;
            margin: 0;
        }
        h1{
            font-size: 4rem;
            font-weight: 400;
        }
        h2{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
    menu{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;

        a:is(:link, :visited) {
            background-color: #0009;
            border-radius: 50px;
            display: flex;
            color: #fff9;
            gap: 1rem;
            align-items: center;
            padding: 1rem;
            text-decoration: none;
            transition: all 0.5s ease-in;
            width: 280px;

            i{
                background-color: #7a0353;
                border-radius: 20px;
                color: #ffa600;
                font-style: normal;
                display: flex;
                transition: all 0.6s ease-in;
                align-items: center;
                justify-content: center;
                height: 28px;
                width: 28px;
            }
        }
        a:is(:hover)  {
            transform: translate(-30px);
            background-color: rgba(190, 78, 4, 0.596);
        }

        a:is(:hover) i {
            transform: scale(1.4) rotateX(360deg);
        }
    }
    section {
        border-radius: 10px;
        background-color: #fff9;
        color: #0009;
        padding: 10px;
        width: 400px;
        h3{
            border-bottom: 2px dotted #0004;
            color: #0009;
            font-size: 1.6rem;
            margin: 0;
            width: fit-content;
        }
        p{
            font-size: 1.4rem;
            margin: 10px 0;
        }
        xmp{
            border-radius: 10px;
            background-color: #0009;
            color: #fff9;
            padding: 0 10px 10px 10px;
        }
    }
}
