extends inc/layout.pug

block title 
    title Inheritance 
block content 
    header 
        h1 Inheritance 
    section 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quis aut incidunt eos placeat nobis ipsam qui autem quod nihil, sunt dolores blanditiis quam reprehenderit. Rem cumque illo alias nemo?